* {
    box-sizing: border-box;
}

body{
    justify-content: center;
/*    what ru doing here?*/
}

body {
    width: 992px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 50px 200px 200px 200px 100px 100px 50px;

    grid-template-areas:
    "header-bar header-bar  header-bar"
    "menu-bar   paragraph-1 ad-1"
    "menu-bar   paragraph-2 ad-2"
    "menu-bar   paragraph-3 ad-3"
    "menu-bar   page-numbers page-numbers"
    "menu-bar   footer-top  footer-top"
    "menu-bar   footer-bottom footer-bottom";

    background: white;
}


div:nth-of-type(1) {
    grid-area: header-bar;
    background: black;
}

div:nth-of-type(1)>ul:nth-of-type(1){
    display: flex;
    align-content: center;
    justify-content: flex-start;

}

div:nth-of-type(1)>ul:nth-of-type(1)>a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
}



div:nth-of-type(2) {
    grid-area: menu-bar;
    background: lightgrey;
    color: black;

}

div:nth-of-type(2)>ul {
    display: flex;
    flex-direction: column;
}

div:nth-of-type(2)>ul>a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    display: flex;
}





div:nth-of-type(3)>article:nth-of-type(1){
    grid-area: paragraph-1;
    color: black;
    padding: 10px;
}

div:nth-of-type(3)>article:nth-of-type(2){
    grid-area: paragraph-2;
    color: black;
    padding: 10px;
}
div:nth-of-type(3)>article:nth-of-type(3){
    grid-area: paragraph-3;
    color: black;
    padding: 10px;
}

h2 {
    font-family: sans-serif;
    color: #0fb784;
    font-weight: lighter;
}



div:nth-of-type(4)>article:nth-of-type(1) {
    grid-area: ad-1;
    background: lightgrey;
    color: black;
}
div:nth-of-type(4)>article:nth-of-type(2) {
    grid-area: ad-2;
    background: lightgrey;
    color: black;
}
div:nth-of-type(4)>article:nth-of-type(3) {
    grid-area: ad-3;
    background: lightgrey;
    color: black;
}





div:nth-of-type(5) {
    grid-area: page-numbers;
    color: black;
    display: flex;
    justify-content: center;
}

div:nth-of-type(5)>a {

}

div:nth-of-type(5)>a:hover {
    background: black;
    color: white;
    text-decoration: none;
}


div:nth-of-type(6) {
    grid-area: footer-top;
    background: darkgray;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}
div:nth-of-type(7) {
    grid-area: footer-bottom;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}



