body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: brown
}

/* var(--bg-info) to use
    you'll only create a variable if you're going to keep using it- for example you use the same green over
    and over in codeup's branding/website*/


*{
    border: 1px solid red;
}
/*that's ^ just a way to test stuff, but now it's overridden by the borders below*/




.message {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.message-info {
    color: darkblue;
    background-color: #c1e1ff;
}

.message-success {
    color: darkgreen;
    background-color: lightgreen;
}

.message-warning {
    color: saddlebrown;
    background-color: lightyellow;
}

.message-error {
    color: darkred;
    background-color: red;
}