

header {
    text-align: center;
    color: darkgray;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    color: lightslategray;
}

body {
    margin: 0;
    background-image: url("https://thumbs.dreamstime.com/b/closeup-to-white-crumpled-paper-texture-background-abstract-copy-space-156435813.jpg");
    background-size: auto;
    font-family: Courier;
    color: lightslategray;
}

ul {
    list-style: none;
}

table {
    font-size: 1.5em;
    padding: 1.5em;
    color: lightslategray;
}

th {
    font-size: 2em;
}

footer {
    text-transform: uppercase;
}

a:hover {
    color: lightslategray;
}

